html{
	direction: rtl;
}
.single .ps-navigation .prev i{
	margin-right: 0;
	margin-left: 10px;
	transform: rotate(180deg);
}

.wpcf7-form{
    direction: rtl;
}

body{
	direction: rtl;
    unicode-bidi: embed;
    text-align: right;

    &.rtl{
    	//finanix RTL CSS
    	#language-menu{
    		float: left;
    	}

    	#reactheme-header .toolbar-area .toolbar-contact ul li{
    		padding-left: 20px;
    		margin-left: 20px;
    		padding-right: 0;
    		margin-right: 0;
    		a{
    			&:hover{
    				text-decoration: none;
    			}
    		}
    	}
    	ul.offcanvas-icon .nav-link-container a{
    		max-width: 35px;
    	}
    	.menu-wrap-off{
    		left: 0;
		    right: auto;
		    -webkit-transform: translate3d(-520px, 0, 0);
		    transform: translate3d(-520px, 0, 0);
		    &.off-open{
		    	-webkit-transform: translate3d(0px, 0, 0);
		    	transform: translate3d(0px, 0, 0);
		    }
    	}
    	.sidenav .footer-contact-ul{
    		margin: 0;
    		li{
    			i{
    				margin-right: 0;
    				margin-left: 15px;
    			}
    			&.address1{
    				i{
    					right: 0;
    					left: auto;
    				}
    			}
    		}
    	}

    	#reactheme-header.header-style-1 .menu-area .navbar ul#primary-menu-main{
    		margin-left: 0;
    		margin-right: 35px;
    	}
    	#reactheme-header.header-style-1 .menu-area .navbar ul#primary-menu-main ul{
    		margin-right: -35px;
    		margin-left: 0;
    	}
    	.reactheme-footer .widget.widget_nav_menu ul.menu{
    		margin: 0;
    	}
    	.reactheme-footer.footer-style-1 .footer-1{
    		padding-left: 0;
    		padding-right: 140px;
    	}
    	.reactheme-footer .footer-top h3.footer-title:before,
    	.reactheme-footer .footer-contact-ul li i:before{
    		right: 0;
    		left: auto;
    	}
    	.reactheme-footer ul{
    		margin: 0;
    	}
    	.reactheme-footer .footer-contact-ul li {
		    padding: 0px 35px 10px 0px;
		    position: relative;
		    text-align: right;
		}
    	.rt-portfolio-style1 .read-btn i{
    		margin-left: 0;
    		margin-right: 80px;
    		transform: rotate(180deg);
    	}

    	.react-addon-services .services-part .services-text .services-btn-part .services-btn.icon-after i{
    		transform: rotate(180deg);
    		margin-left: 0;
    		margin-right: 10px;
    	}
    	.react-addon-services.services-style5 .services-part .services-title .title img{
    		margin-left: 22px;
    		margin-right: 0;
    	}

    	#reactheme-header{
    		.logo-area{
    			float: unset;
    			margin: 0;
    		}
    		.pt-25{
    			padding-top: 25px;
    		}
    		&.header-style-1{
    			.right-query{
    				li{
    					&:first-child{
	    					padding-left: 40px;
	    					padding-right: 0;
    					}
    					&:nth-child(2){
    						padding-left: 80px;
    						padding-right: 0;
    					}
    					.icon{
    						margin-left: 14px;
    						margin-right: 0;
    					}
    				}
    			} 
    		} 
    		.sidebarmenu-area{
    			margin-left: 0;
    			margin-right: 25px;
    		}
    	} 

    	ul, ol, ol ol, ol ul, ul ol, ul ul {
    		margin: 0 3em 1.5em 0em;
		}
    	#content{
    		text-align: right;
    	}
    

    	.menu-area .navbar ul li .sub-menu{
    		left: auto;
    	}
   
		
        .menu-area .navbar ul > li.menu-item-has-children > a::before {
            right: auto;
            left: 0;
            top: 49%;
        }
        .menu-area .navbar ul > li.menu-item-has-children > a {
            margin-right: 0px;
            margin-left: 10px;
        }
      
        .menu-area .navbar ul > li.menu-item-has-children.hover-minimize > a::after {
            right: auto;
            left: 0;
        }
       	
       	.rt-features-list-portfolio-content ul.rt-portfolio-features-list li:last-child{
       		padding-right: 35px;
       		padding-left: 0;
       	}
    	.bs-sidebar .widget.widget_archive ul li{
    		padding: 0 20px 8px 0;
    	}
    	ul.unorder-list li::before {
    	    right: 0;
    	    left: auto;
    	    transform: rotate(190deg);
    	}
    	@media (max-width: 500px){
    		.rt-features-list-portfolio-content ul.rt-portfolio-features-list li:last-child{
    			padding: 0;
    		}
    	}
    	.reactheme-breadcrumbs .breadcrumbs-title span span{
    		padding-left: 0;
    		padding-right: 10px;
    	}
    	.reactheme-breadcrumbs .breadcrumbs-title span a:before{
    		left: -9px;
    		right: auto;
    	}
    	.react-sideabr .widget_search button, .react-sideabr .bs-search button{
    		left: 0;
    		right: auto;
    	}
    	&.single-post .react-order-list {
    		li{
    			&:before{
		    		right: 0;
		    		left: auto;
	    		}
	    		padding-left: 0;
	    		padding-right: 44px;
    		}

    	}
    	.react-sideabr .widget_categories ul, 
    	.react-sideabr .widget_recent_entries ul, 
    	.react-sideabr .widget_archive ul, 
    	.react-sideabr .widget_meta ul{
    		margin: 0;
    		li{
    			span{
    				float: left;
    			}
    			a{
    				padding: 14px 20px 14px 0;
    			}
    		}
    	}
    	&.blog .reactheme-blog .blog-item .blog-img .author,
    	&.archive .reactheme-blog .blog-item .blog-img .author{
    		padding: 10px 10px 10px 35px;
    	}
    	.reactheme-breadcrumbs .breadcrumbs-title span.current-item {			  
			padding-right:20px;			    
		}
		.react-heading.style2:after, .rs-dual-heading.style2:after,
		.react-sideabr .widget_block label.wp-block-search__label:after, .react-sideabr .widget_block h2:after, .react-sideabr .widget-title:after{
			left: auto;
			right: 0;
		}
    	.live-preview{
    		li{
    			a{
    				i{
    					transform: rotate(180deg);
    				}
    			}
    		}
    	}
    	&.single-teams{
    		.adress-box .icon-link{
				margin-left: 20px;
				margin-right: 0;
			}
			.theme_btn{
				i{
					margin-left: 0;
					margin-right: 15px;
					transform: rotate(180deg);
				}
			}
    	} 	
    	.rt-portfolio-style3 .portfolio-item .portfolio-content{
    		text-align: unset;
    	}

    	.rs-skill-bar.style1 .skillbar .skill-bar-percent {
		    right: auto;
		    top: -30px;
		    left: 0;
		}
    
    	&.single-post .single-posts-meta li span i {
    	    margin-left: 5px;
    	    margin-right: 0;
    	}
    	.single-posts-meta .tag-line i{
    	    margin-left: 6px;
    	    margin-right: 0;
    	}
    	ul.unorder-list li{
		    padding-left: 0;
		    padding-right: 25px;
		}
		.bs-search button i::before {
		    margin-left: 0;
		}
		.reactheme-breadcrumbs .breadcrumbs-inner .bs-meta{
			margin: 0;
			li{
				margin-right: 0;
				margin-left: 25px;
				i{
			    	margin-left: 3px;
			    	margin-right: 0;
		    	}
			}
		}
		.accordion{
			.rt-cart{
				.text-left{
					text-align: right !important
				}
			}
		}

		.rt-price-table .btn-part i,
		.page-error .reacbutton i{
			transform: rotate(180deg) !important;
			padding-right: 10px;
		}
		.react-addon-services.services-style3 .services-part .services-text .services-title .title{
			margin-left: 0;
			margin-right: 25px;
		}
		#finanix-load .preloader{
			text-align: unset;
		}
		#top-to-bottom{
			left: 40px;
			right: auto;
		}
		.cart-button-rt span{
			margin-left: 10px;
			margin-right: 0;
		}
		.cart-button-rt::after,
		.cart-button-rt::before{
			right: auto;
			left: 20px;
		}
	
		.full-blog-content .author i {
		    margin-right: 0;
		    margin-left: 5px;
		}
		.full-blog-content .btm-cate .tag-line i {
		    margin-left: 5px;
		    margin-right: 0;

		}
		
		blockquote::before {
		   transform: rotate(180deg);
		}
    	.footer-0 {
    	    padding-left: 50px;
    	}
		
    	.dynamic-sidebar {
    	    padding: 0px 20px 20px 0;
    	}
    	.bs-sidebar ul {
    	    margin-right: 0 !important;
    	}
    	
        ul.stylelisting li:before{
    		right: 0;
    		left: inherit;
		}
    	ul.stylelisting li{
    		padding-left: 0 !important;
    		padding-right: 30px;
    	}    	

   
        blockquote cite:before{
            margin-right: 0;
            margin-left: 10px;
        }
       
       
   
    	.offwrap {
    	    left:auto;
    	    right: 100%;
    	}
    	&.off-open .offwrap {
    	    right: 0%;
    	    left: auto;
    	}
    	&.woocommerce ul.products li.product .images-product .overley .winners-details .product-info {
    	    left: 30px;
    	    right: auto;
    	}
    	.woocommerce-MyAccount-navigation ul{
    		margin: 0;
    	}
    	.sidenav .fa-ul{
    		text-align: right;
    		margin-right: 0;
    	}
    	.sidenav .fa-ul li.address1 i {
    	    left: auto;
    	    right: 0;
    	}
    	.sidenav .fa-ul li i {
    	    padding-left: 15px;
    	    padding-right: 0;
    	}
    	
    	.slidertestimonials.slick-slide{
    		float: left;
    	}
    	.menu-wrap-off .inner-offcan .nav-link-container {
    	    left: 25px;
    	    right: auto;
    	}
    	.thums-sicks.slick-slide {
		    float: left;
		}
        	
    	.show-featured .post-img{
    		float: right;
    		padding-right: 0;
    		padding-left: 15px;
    	}
    
    	ul.offcanvas-icon{
    		margin: 0 !important;
    	}
            
    	.wpcf7 input[type="url"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"] {
    	    direction: rtl;
    	}
       
    	.menu-area .navbar ul li ul.sub-menu li a{
    		margin: 0;
    	}
    
    	.footer-subscribe input[type="email"]{
    		max-width: 100%;
    		padding-right: 22px;
    		padding-left: 130px;
    	}
    	.footer-subscribe .paper-plane:before{
    		left: 40px;
    		right: auto;
    	}
    	.footer-subscribe input[type="submit"]{
    		left: 15px;
    		border-radius: 3px 0 0 3px;
    		right: auto;
    	}
    	
    	.sticky_form_full button i:before {
    	    margin-left: 0;
    	}
    	.sticky_form .close-search{
    		left: 50px;
    		right: auto;
    	}
    	
    	ul.footer_social li{
    		text-align: center !important;
    	}
    	
    	.sports-grid .event_counter6 .date{
    		padding-right: 8px;
    		padding-left: 0;
    	}
    	.sports-grid .event_counter6 .vanue{
    		padding-left: 13px;
    		padding-right: 0;
    	}
    	.sports-grid .event_counter6 .vanue:after{
    		left:0;
    		right: auto;
    	}
    	.breaking-news .blog-item .blog-title{
    		padding-top: 0;
    	}
    	.main-contain .Total_Soft_Poll_Main_Div .Total_Soft_Poll_1_Ans_Div_1 .Total_Soft_Poll_1_Ans_Check_Div label:before{
    		right: 0;
    		left: auto
    	}
    	.main-contain .Total_Soft_Poll_Main_Div .Total_Soft_Poll_1_Ans_Div_1 .Total_Soft_Poll_1_Ans_Check_Div label{
    		padding: 7px 30px 7px 0
    	}
    	.Total_Soft_Poll_1_Main_Div_1 .Total_Soft_Poll_1_But_MDiv_1{
    		float: right;
    	}
    	.breaking-news{
    		text-align: right;
    	}
    	

	    .owl-carousel, .slick-slider,
		.bx-wrapper { direction: ltr; }
		.owl-carousel .owl-item, .slick-slide{ direction: rtl; }

		.breaking-news .blog-carousel{
			width: 60%
		}
		.team-info h3,
		.career-info h3{
			text-align: right;
		}
		.team-info table,
		.career-info table{
			text-align: right;
		}
		
		.menu-area .navbar{
			float: left;
			margin-left:30px;
            margin-right: 0;
		}
						
		.menu-area{
			.navbar{
				ul{
					li{
						ul.sub-menu{							
							li{
								text-align: right;
							}
						}
					} 
				}
			}
		}

		.reactheme-footer.footer-style-1 .footer-1::before{
			right: 60px;
			left: auto;
		}
    	.menu-area .navbar ul li.left .sub-menu li .sub-menu {
		    right: -100% !important;
		}
		
		.copyright-widget{
			.widget{
				text-align: left !important;
			}
		}
		
        .footer-1 {
            padding-right: 70px;
            padding-left: 0;
        }
		
		.toolbar-contact-style4 ul {
		    float: left;
		}
		
		.toolbar-contact-style4 ul li .contact-inf {
		    float: right;
		    text-align: right;
		    margin: 0;
		    span{
		    	text-align: right;
		    }
		}
		.toolbar-contact-style4 ul li i {
		    float: right;
		}		
		.react-video .popup-videos i{
			transform: rotate(180deg);
		}
						
		.widget ul li::before{
			right: 0;
			left: auto;
			transform: rotate(180deg);
		}
		
		.full-blog-content .blog-button{
			float: right;
		}
				
		ul.footer_social li:last-child {
		    margin-right: 7px !important;
		}
		.btm-cate li {
		    float: right;
		    margin-left: 25px;
		    margin-right: 0;
		}
		.pagination-area .nav-links > :first-child {
		    border-radius: 0px;
            border:none;
		}
		.pagination-area .nav-links > :last-child {
		    border-radius: 0px;
            border:none;
		}
		
		.ps-navigation ul .next i {
		    float: right;
		    margin-top: 5px;
		}
		.comments-area .comment-list,
		.comment-form, .rs-blog-details #reply-title{
			text-align: right;
		}
		.comments-area .comment-list li.comment .reply{
            text-align: right;
        }
        .comments-area .comment-list li.comment .comment-author b {
            float: right;
            padding-left: 14px;
            padding-right: 0;
        }
	    .comments-area .comment-list li.comment .comment-author img {
            right: 0;
            left: auto;
        }
        .comments-area .comment-list li.comment .comment-body {
            padding-left:0;
            padding-right: 98px;
        }
		.comments-area .comment-list li.comment .comment-author img {
		    margin-left: 15px;
		    margin-right: 0;
		}
	
		#scrollUp{
			left: 30px;
			right: auto;
		}
		.woocommerce .col2-set .col-1, 
		.woocommerce-page .col2-set .col-1 {
			float: right;
		}
		#content div.product div.summary, div.product div.summary, .cart_totals h2, 
		#content div.product div.summary, div.product div.summary, .woocommerce-tabs,
		h3#order_review_heading, .woocommerce form .form-row label, .woocommerce form .form-row .select2-container,
		.woocommerce-billing-fields, .woocommerce-additional-fields, .woocommerce-info, form.login{
			text-align: right;
		}
		.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
			float: right;
		}
		.woocommerce-error::before{
			left: 1.5em;
			right: auto;
		}
		#payment #place_order, #payment #place_order {
		    float: right;
		}
		.woocommerce-form-login .woocommerce-Button {
		    margin-left: 12px !important;
		    margin-right: 0 !important;
		}
		.product-list span.onsale {
			right: auto !important;
			left: 10px !important;
		}


	
		.breadcrumbs-inner .page-title:after{
			left: auto;
			right: 0;
		}
		.breadcrumbs-inner {
			text-align: right;
		}
		.sidenav .widget, body .sidenav #mobile_menu .widget_nav_menu ul li a{
			text-align: right;
		}
		#reactheme-header.header-style-1 .menu-area .navbar ul#primary-menu-main > li:before{
			right: unset;
			left: 20%;
		}
		#reactheme-header.header-style-1 .menu-area .navbar ul#primary-menu-main > li > a{
			margin-left: 70px;
			margin-right: 0;
		}

		#reactheme-header .btn_quote{
			margin-left: 0;
			margin-right: 25px;
		}
		.contact-form .input-box:before{
			left: auto;
			right: 28px;
		}
		.reactheme-footer.footer-style-1.footer-style-2 .footer-1{
			padding-right: 0;
		}
		.reactheme-footer.footer-style-2 .footer-0:before, .reactheme-footer.footer-style-3 .footer-0:before, .reactheme-footer.footer-style-2 .footer-1:before, .reactheme-footer.footer-style-3 .footer-1:before, .reactheme-footer.footer-style-2 .footer-2:before, .reactheme-footer.footer-style-3 .footer-2:before, .reactheme-footer.footer-style-2 .footer-3:before, .reactheme-footer.footer-style-3 .footer-3:before{
			left: auto;
			right: -27px;
		}
		.reactheme-footer.footer-style-2 .section-footer-2 .footer_social, .reactheme-footer.footer-style-3 .section-footer-2 .footer_social{
			text-align: left;
		}
		.wpcf7-form-control:not(.wpcf7-submit){
			padding-right: 55px !important;
		}
		.rstab-main.style-2 .tab-pane .text-list{
			float: none;
		}
		.rstab-main.style-2 .tab-pane .text-list li:before{
			right: 0;
			left: auto;
		}
		.rstab-main.style-2 .tab-pane .text-list li{
			padding-left: 0;
			padding-right: 30px;
		}

		#reactheme-header.header-style2 .btn_quote{
			margin-left: 0;
			margin-right: 0px;
		}
		#reactheme-header .toolbar-area .toolbar-contact ul li i{
			margin-right: 0;
			margin-left: 6px;
		}
		.rstab-main.style-2.vertical ul.nav li a i{
			float: left;
			transform: rotate(180deg);
		}
		@media screen and ( max-width: 1200px){
			.reactheme-footer.footer-style-1 .footer-1{
				padding-right: 0;
				padding-left: 0;
			}
		}
	
        @media screen and ( max-width: 991px){
			.mobile-menu-link{
				left: 0;
				right: auto;
			}
			#reactheme-header .row-table .header-logo{
				padding-left: 0;
				padding-right: 20px;
			}
			.reactheme-footer.footer-style-1 .footer-1, .reactheme-footer.footer-style-1 .footer-2, .reactheme-footer.footer-style-1 .footer-3, .reactheme-footer.footer-style-1 .footer-4{
				padding-right: 15px;
			}
		
			.sidenav .menu li ul.sub-menu li a {
			    padding-right: 40px;
			    padding-left:0;
			}
			
			&.page-template-page-single .sidenav ul{
				padding:0;
			}
			&.page-template-page-single .sidenav li.nav-link-container {
			    left: 15px;
			    right: auto;
			}
            #mobile_menu .hash-has-sub .submenu-button::before {
                right: auto;
                left: 19px;
            }
            .footer-1 {
                padding-right: 20px;
                padding-left: 20px;
            }
          
            &.page-template-page-single .sidenav{
                margin: 0;
                ul{
                    margin: 0;
                }
            }
          	.sidenav .widget_nav_menu ul li{
          		text-align: right;
          	}
            #mobile_menu .submenu-button{
                left: 0;
                right: auto;
            }
            &.logged-in .menu-wrap-off,
            .menu-wrap-off{
                padding: 55px 40px 50px 40px;
            }		
		 
			.sidenav .offcanvas_social li a{
				margin-left: 0;
				margin-right: 12px;
				padding: 0;
			}

			.mobile-menu-container div ul li a{
				text-align: right;
			}
			ul.sidenav .menu > li.menu-item-has-children::before{
				left: 14px;
				right: auto;
			}
			.mobile-menu-container div ul{
				padding: 25px 0;
			}				
		} 

		@media screen and (max-width: 767px){
					
			.ps-image{
				margin-bottom: 35px;
			}            
            .footer-0 {
                padding-left: 20px;
                padding-right: 20px;
            }
            
            .comments-area .comment-list li.comment .comment-body {
                padding-right: 0;
            }
            .comment-full {
                text-align: right;
            }
            .comments-area .comment-list li.comment .comment-author img{
                padding:0;
                border-radius: 100%;
                margin-bottom: 20px;
            }
            .dynamic-sidebar {
                padding: 0px 0px 20px 0;
            }			
		}
		
	}
}